---
layout: default
---

{% for post in site.accueil %}

    {% if post.image-position == "left" %}
    <div class="site-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 imgDes" style="background-image: url('{{ post.image }}');">
                </div>
                <div class="col-lg-6 descFront" style="">
                    <h1>{{ post.title }}</h1>
                    {{ post.content }}
                </div>
            </div>
        </div>
    </div>
    {% elsif  post.image-position == "right" %}
    <div class="site-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 descFront" style="">
                    <h1>{{ post.title }}</h1>
                    {{ post.content }}
                </div>
                <div class="col-lg-6 imgDes" style="background-image: url('{{ post.image }}');">
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endfor %}

{{ content }}
